* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    width: 410px;
    margin: 0 auto;
}

.foodimg.fp {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

a {
    font-size: 34px;
    text-decoration: none;
}







