@font-face {
    font-family: Quicksand;
    src: url("/home/panos/Downloads/quicksand/Quicksand-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("/home/panos/Downloads/quicksand/Quicksand-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Quicksand;
    src: url("/home/panos/Downloads/quicksand/Quicksand-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Quicksand;
    src: url("/home/panos/Downloads/quicksand/Quicksand-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;

}

/* general styling */

body {
    background-color: #D8B588;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: #8A6738;
    color: beige;
    font-family: Quicksand;
    font-weight: 700;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* main page styling */

#fplist {
    list-style: none;
    text-align: center;
    width: 410px;
    margin: 0 auto;
    padding: 0;
}


.foodimg{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #436413;
    font-family: Quicksand;
}


/* styling recipe pages */

.food-title, .caption {
    text-align: center;
}








